@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border: 0.4rem solid #13505B;
}

::-webkit-scrollbar-thumb {
    background: #119DA4;
    border-radius: 0.5rem;
}

body {
    max-width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: #D7D9CE;
}

.formDiv {
    background-color: #D7D9CE;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 3rem auto;
}

.formDiv:hover {
    box-shadow: 0 0.5rem 1rem #13505B;
}

h2 {
    text-align: center;
    margin: 0 0 1rem;
    color: #13505B;
}

.form {
    padding: 3rem 4rem;
}

.form-control {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.form-control label {
    color: #D7D9CE;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control input {
    border: 2px solid #D7D9CE;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 1rem;
}

.form-control input:focus {
    outline: 0;
    border-color: #119DA4;
}

.form-control.success input {
    border-color: #119DA4;
}

.form-control.error input {
    border-color: #119DA4;
}

.form-control small {
    color: #119DA4;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form-button {
    cursor: pointer;
    background-color: #119DA4;
    border: 1px solid #119DA4;
    background-image: linear-gradient(#119DA4, #13505B);
    border-radius: 0.5rem;
    color: #D7D9CE;
    display: block;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    outline: none;
}

#Map {
    height: 10rem;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .formDiv {
        width: 90%;
    }
    #Map {
        width: 100%;
        height: 10rem;
    }
}