.footer {
    box-shadow: 0rem 1rem 1rem #D6A99A;
    background-color: #D6CBC1;
    max-width: 100%;
    padding: 1rem 2rem;
    color: #E16036;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.footer-followus {
    grid: 1 / 2;
    padding: 0 1rem;
}

.footer-contact {
    grid: 2 / 3;
    padding: 0 1rem;
}

.footer-guides {
    grid: 3 / 4;
    padding: 0 1rem;
}

.footer-navigation {
    grid: 4 / 5;
    padding: 0 1rem;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #E16036;
}

.footer a:hover {
    color: #D6A99A;
}

.footer p {
    color: #E3170A;
    font-weight: bold;
}

.footer-logo {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid white;
}