.footer {
    box-shadow: 0rem 0rem 0.5rem #119DA4;
    background-color: #13505B;
    width: 100%;
    padding: 1rem 2rem;
    color: #040404;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.footer-followus {
    grid: 1 / 2;
    padding: 0 1rem;
}

.footer-contact {
    grid: 2 / 3;
    padding: 0 1rem;
}

.footer-guides {
    grid: 3 / 4;
    padding: 0 1rem;
}

.footer-navigation {
    grid: 4 / 5;
    padding: 0 1rem;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #D7D9CE;
}

.footer a:hover {
    color: #119DA4;
}

.footer p {
    color: #040404;
    font-weight: bold;
}

.footer-logo {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid white;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
}