.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
}

.logo {
    grid: 1 / 2;
    margin: 0.5rem;
}


/*selecting input field for search in header*/

input[type=text] {
    font-size: 1rem;
    grid: 2 / 3;
    width: 20rem;
    margin: auto;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid #119DA4;
    border-radius: 0.5rem;
    background-color: white;
    background-image: url("../images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 0.2rem;
    transition: width 0.4s ease-in-out;
    outline: none;
}

input[type=text]:focus {
    grid: 2 / 3;
    width: 90%;
}

.login {
    grid: 3 / 4;
}

.signup {
    grid: 4 / 5;
}

.login,
.signup {
    margin: 0.5rem;
    transition: all 0.4s ease-in-out;
    color: white;
    font-size: 1rem;
    border-radius: 0.6rem;
    border: 1px solid #119DA4;
    outline: none;
    background-color: #13505B;
}

.login:hover,
.signup:hover {
    transform: scale(1.1);
    background-color: #119DA4;
}