 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 ::-webkit-scrollbar {
     width: 0.5rem;
 }
 
 ::-webkit-scrollbar-track {
     border: 0.4rem solid #E16036;
 }
 
 ::-webkit-scrollbar-thumb {
     background: #E3170A;
     border-radius: 0.5rem;
 }
 
 body {
     max-width: 100%;
     font-size: 16px;
     font-family: "Roboto", sans-serif;
     overflow-x: hidden;
 }
 
 .first-grid,
 .second-grid {
     display: grid;
     grid-template-columns: 3fr 1fr;
     justify-content: center;
 }
 
 .latest {
     grid: 1 / 2;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .latest button {
     position: absolute;
     bottom: 0;
     margin-bottom: 0.5rem;
     border-radius: 0.5rem;
     background-color: #E16036;
     color: white;
     padding: 0.5rem;
     text-align: center;
     outline: none;
 }
 
 #previous,
 #next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: auto;
     padding: 2rem;
     color: #E16036;
     font-weight: bold;
     font-size: 2rem;
 }
 
 #previous {
     left: -3%;
 }
 
 #next {
     right: -3%;
 }
 
 .left,
 .right,
 .center {
     width: 33%;
     color: white;
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .leftimage,
 .centerimage,
 .rightimage {
     margin: 0.5rem;
     color: black;
 }
 
 .first-image,
 .second-image,
 .third-image,
 .fourth-image,
 .fifth-image,
 .sixth-image {
     width: 33%;
 }
 
 .latest img,
 .top img,
 .top-rated img {
     width: 100%;
 }
 
 .top {
     grid: 2 / 3;
     display: flex;
     flex-direction: column;
     flex-wrap: no-wrap;
 }
 
 .top-rated {
     grid: 1 / 2;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 
 .fb-feed {
     grid: 2 / 3;
 }
 
 .fb-feed,
 .top-rated,
 .top,
 .latest {
     margin: 1rem;
     padding: 0.5rem;
     border-radius: 0.5rem;
     border: 2px solid #E16036;
     box-shadow: 0.5rem 0.5rem 0.5rem #D6CBC1;
 }
 
 .fb-feed:hover,
 .top-rated:hover,
 .top:hover,
 .latest:hover {
     box-shadow: 0.5rem 0.5rem 0.5rem #D6A99A;
     border: 2px solid #E3170A;
 }