@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border: 0.4rem solid #13505B;
}

::-webkit-scrollbar-thumb {
    background: #119DA4;
    border-radius: 0.5rem;
}

body {
    max-width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: #D7D9CE;
}

.container__heading {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    color: #13505B;
}

#search {
    margin: 3rem auto;
}

ul {
    list-style-type: none;
    width: 70%;
    margin: auto;
    display: grid;
    grid-column-gap: 10%;
    grid-template-columns: repeat(2, 1fr);
}

li {
    margin: 2rem 0 2rem 0;
}

li .row img {
    width: 20rem;
    height: 20rem;
}

.searchIcon {
    width: 50%;
    margin: auto;
}

.search-area {
    background-color: #D7D9CE;
    background-image: url("../images/searchicon.png");
    background-repeat: no-repeat;
    background-position: 1rem;
    margin: 3rem auto;
    padding: 1rem 3rem;
    width: 75%;
    border: 2px solid #13505B;
    outline: none;
    border-radius: 10rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.radioButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.radioButtons__div {
    padding-right: 2rem;
}