@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    border: 0.4rem solid #13505B;
}

::-webkit-scrollbar-thumb {
    background: #119DA4;
    border-radius: 0.5rem;
}

body {
    max-width: 100%;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: #D7D9CE;
}