.nav {
    overflow: hidden;
    background-color: #13505B;
    box-shadow: 0rem 0.1rem 0.3rem #119DA4;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
}

.active {
    background-color: #119DA4;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown-button {
    border: none;
    outline: none;
    color: white;
    padding: 1rem;
    background-color: #13505B;
    margin: 0;
    font-size: 1rem;
}

.nav a:hover,
.dropdown:hover .dropdown-button {
    background-color: #119DA4;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: #13505B;
    width: 7.4rem;
    box-shadow: 0rem 0.1rem 0.2rem #119DA4;
    z-index: 1;
}

.dropdown-links a {
    float: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-links a:hover {
    background-color: #119DA4;
    overflow: hidden;
}

.dropdown:hover .dropdown-links {
    display: block;
}

.nav img {
    margin: 0.4rem 0rem 0rem 1rem;
}


/* for small screens */

.dropdown-small {
    float: right;
    margin: 1rem;
    display: none;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: #13505B;
    width: 10rem;
    z-index: 100;
    right: 0;
    top: 3.65rem;
}

.menu-dropdown a {
    float: none;
    color: #D7D9CE;
    text-decoration: none;
    display: block;
}

.menu-dropdown a:hover {
    background-color: #119DA4;
}

.dropdown-small:hover,
.dropdown-menu:hover {
    display: block;
}

.dropdown-small .menu,
.close {
    background-color: #13505B;
    outline: none;
    border: none;
    float: right;
}

.close {
    display: none;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }
    .dropdown-small {
        display: block;
    }
    .menu-dropdown {
        display: block;
    }
    .nav a {
        display: none;
    }
    .menu-dropdown a {
        display: none;
    }
    .dropdown-button {
        display: none;
    }
}