.nav {
    overflow: hidden;
    background-color: #E16036;
    box-shadow: 0rem 0.5rem 0.6rem #CDD6D0;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    margin: 0;
    font-size: 1rem;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown-button {
    border: none;
    outline: none;
    color: white;
    padding: 1rem;
    background-color: #E16036;
    margin: 0;
    font-size: 1rem;
}

.nav a:hover,
.dropdown:hover .dropdown-button {
    background-color: #E3170A;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: #E16036;
    width: 7.4rem;
    box-shadow: 0rem 0.5rem 0.6rem #CDD6D0;
    z-index: 1;
}

.dropdown-links a {
    float: none;
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-links a:hover {
    background-color: #E3170A;
}

.dropdown:hover .dropdown-links {
    display: block;
}